In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("sms_spam_collection.csv")

In [3]:
df

     Label                                            Message
0      ham  go until jurong point crazy available only in ...
1      ham                           ok lar joking wif u oni
2     spam  free entry in 2 a wkly comp to win fa cup fina...
3      ham       u dun say so early hor u c already then say
4      ham  nah i don t think he goes to usf he lives arou...
...    ...                                                ...
5567  spam  this is the 2nd time we have tried 2 contact u...
5568   ham               will ü b going to esplanade fr home
5569   ham  pity was in mood for that so any other suggest...
5570   ham  the guy did some bitching but i acted like i d...
5571   ham                          rofl its true to its name

[5572 rows x 2 columns]

In [4]:
df['msg_words'] = df['Message'].str.split()

In [5]:
lists = list(df['Message'].str.split())

In [6]:
all_words = list(set([el for lst in lists for el in lst])) #word bag

In [7]:
map = {word:{'ham':0,'spam':0} for word in all_words} #dictionary of dictionaries

In [8]:
# for i in range(len(df)):
#     words = set(df.loc[i,'msg_words'])
#     if df.loc[i,'Label'] == 'ham':
#         for word in words:
#             map[word]['ham'] += list(df.loc[i,'msg_words']).count(word)
#     else:
#         for word in words:
#             map[word]['spam'] += list(df.loc[i,'msg_words']).count(word)

In [9]:
for i in range(len(df)):
    words = list(set(df.loc[i,'msg_words']))
    if df.loc[i,'Label'] == 'ham':
        for word in words:
            map[word]['ham'] += 1
    else:
        for word in words:
            map[word]['spam'] += 1

In [10]:
map['in']

{'ham': 740, 'spam': 70}